﻿/*
Copyright (c) Microsoft Corporation. All rights reserved
*/

/* styles */
#content {
    display: -ms-grid;
    -ms-grid-rows: 1fr auto;
    -ms-grid-columns: 1fr;

    height: 100%;
    width: 100%;
    position: relative;
}

#contentHost {
    -ms-grid-row: 1;

    overflow-y: auto;
    padding: 30px 10px 10px 10px;
    height: calc(100% - 40px);
}

#statusMessage {
    -ms-grid-row: 2;

    padding: 0 10px;
    max-height: 200px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 600;
}
       
#sampleHeader, #featureLabel {
    font: 20pt/24pt "Segoe";
    font-weight: 300;
    white-space: normal;
}

#scenarioDescription {
    font: 11pt/15pt "Segoe";
    font-weight: 300;
}

#scenarioView {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#scenarioContent {
    overflow: auto;
    flex-shrink: 1;
}

#headerBody