﻿/*
Copyright (c) Microsoft Corporation. All rights reserved
*/

/* styles */

#webview {
    width: 100%;
    min-height: 100%;
}

#homeGrid {
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
    height: 100%;
    width: 100%;
}

#scenarioPane {
    -ms-grid-row: 1;

}


#footer {
    -ms-grid-row: 2;
    padding: 0px 0px;
    display: flex;    
}

    #footer span {
        font-size: 12px;
    }

    #footer .links {
        color: rgb(153,153,153);
    }

        #footer .links a {
            color: rgb(153,153,153);
            font-size: 12px;
            text-decoration: none;
        }

        #footer .links .pipe {
            font-size: 9px;
        }
